
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoronaVirus - Information</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&family=Nanum+Gothic&family=Righteous&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        nav {
            display: flex;
            padding: 0 23px;
            background-color: black;
        }

        .item {
            padding: 3px 8px;
            list-style: none;
        }

        .item a {
            color: white;
            text-decoration: none;
            padding: 18px 10px;
            display: block;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Baloo Thambi 2', cursive;
        }

        .item a:hover {
            background: white;
            color: black;
            border-radius: 10px;
        }

        .container {
            padding: 46px;
            margin: 12px auto;
            max-width: 69%;
            background-color: white;
            border-radius: 12px; 
        }

        body {
            background: url( "static/bg.jpg");
        }

        h1 {

            text-align: center;
        }

        h1,
        h2,
        h3 {
            font-family: 'Righteous', cursive;
            padding: 23px 0;
        }

        p,
        ul>li {
            font-family: 'Nanum Gothic', sans-serif;
        }

        h3{
            padding:10px 0;
        }
        .question{
            margin: 12px 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Covid-19 detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cases">Cases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
    
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    {% load static %}
    

    <div class="container">
        <h1>Covid-19 - Stay Home Stay Safe</h2>
            <div class="box">

                <h2>#IndiaFightsCorona COVID-19</h2>
                <p>
                    Government of India is taking all necessary steps to ensure that we are prepared well to face the
                    challenge and threat posed by the growing pandemic of COVID 19 – the Corona Virus. With active
                    support of the people of India, we have been able to contain the spread of the Virus in our country.
                    The most important factor in preventing the spread of the Virus locally is to empower the citizens
                    with the right information and taking precautions as per the advisories being issued by Ministry of
                    Health & Family Welfare.
                </p>
            </div>

            <div class="box">
                <h2>#StayHome - How to protect yourself</h2>
                <h3>Dos</h3>
                <p>
                    <ul>
                        <li>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</li>
                        <li>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze
                        </li>
                        <li>Avoid close contact (1 meter or 3 feet) with people who are unwell</li>
                        <li>Stay home and self-isolate from others in the household if you feel unwell</li>
                    </ul>
                </p>

                <h3>Don'ts</h3>
                <p>
                    <ul>
                        <li> 
                            Touch your eyes, nose, or mouth if your hands are not clean
                        </li>
                </p>

            </div>

            <div class="box">
                <h2>#FAQs - Frequently asked questions</h2>
                <div class="question">

                    <p>
                        Q: What are the symptoms of the coronavirus disease?
                    </p>
                    <p>
                        A: The most common symptoms are fever, cough, shortness of breath, and breathing difficulties. In more severe cases infection can cause pneumonia, severe acute respiratory syndrome, and even death. The period within which the symptoms would appear is 2-14 days.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q: What is the recovery time for the coronavirus disease?
                    </p>
                    <p>
                        A: Using available preliminary data, the median time from onset to clinical recovery for mild cases is approximately 2 weeks and is 3-6 weeks for patients with severe or critical disease.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q: How long does the coronavirus last on surfaces?
                    </p>
                    <p>
                        A: It is not certain how long the virus that causes COVID-19 survives on surfaces, but it seems to behave like other coronaviruses. Studies suggest that coronaviruses (including preliminary information on the COVID-19 virus) may persist on surfaces for a few hours or up to several days.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q:  What is the treatment for the coronavirus disease?
                    </p>
                    <p>
                        A: There is no specific treatment for disease caused by a novel coronavirus. However, many of the symptoms can be treated and therefore treatment based on the patient's clinical condition.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q:  Can you contract the coronavirus disease by touching a surface?
                    </p>
                    <p>
                        A:  People could catch COVID-19 by touching contaminated surfaces or objects – and then touching their eyes, nose or mouth.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q:  How does the coronavirus disease spread?
                    </p>
                    <p>
                        A:  The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose. To protect yourself, clean your hands frequently with an alcohol-based hand rub or wash them with soap and water.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q:  Is the coronavirus disease new?
                    </p>
                    <p>
                        A:  Coronavirus disease (COVID-19) is a new strain that was discovered in 2019 and has not been previously identified in humans.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q:  What is the official name of the coronavirus disease?
                    </p>
                    <p>
                        A:  ICTV announced “severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2)” as the name of the new virus on 11 February 2020
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q:  Can the coronavirus disease spread through food?
                    </p>
                    <p>
                        A:  Current evidence on other coronavirus strains shows that while coronaviruses appear to be stable at low and freezing temperatures for a certain period, food hygiene and good food safety practices can prevent their transmission through food.
                    </p>
                </div>
                <div class="question">

                    <p>
                        Q:  What should schools do during an outbreak of the coronavirus disease?
                    </p>
                    <p>
                        A:  UNICEF is urging schools – whether open or helping students through remote learning – to provide students with holistic support. Schools should provide children with vital information on handwashing and other measures to protect themselves and their families; facilitate mental health support; and help to prevent stigma and discrimination by encouraging students to be kind to each other and avoid stereotypes when talking about the virus.
                    </p>
                </div>
                
            </div>
    </div>

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>
